html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.appTheme {
  width: 100%;
  height: 100%;
}

.appTheme h1.ant-typography,
.appTheme h2.ant-typography,
.appTheme h3.ant-typography,
.appTheme h4.ant-typography,
.appTheme h5.ant-typography {
  margin: 0;
}
